# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.vscode/
front-end/src/assets/scss/style.scss
front-end/src/assets/scss/mdb.scss
front-end/src/assets/scss/mdb-free.scss
front-end/src/assets/scss/free/modules/animations-extended/animations-extended.scss
front-end/src/assets/scss/free/modules/animations-extended/_module.scss
front-end/src/assets/scss/free/_treeview.scss
front-end/src/assets/scss/free/_tables.scss
front-end/src/assets/scss/free/_switch.scss
front-end/src/assets/scss/free/_steppers.scss
front-end/src/assets/scss/free/_pagination.scss
front-end/src/assets/scss/free/_navbars.scss
front-end/src/assets/scss/free/_msc.scss
front-end/src/assets/scss/free/_modals.scss
front-end/src/assets/scss/free/_loader.scss
front-end/src/assets/scss/free/_list-group.scss
front-end/src/assets/scss/free/_input-group.scss
front-end/src/assets/scss/free/_forms.scss
front-end/src/assets/scss/free/_footers.scss
front-end/src/assets/scss/free/_dropdowns.scss
front-end/src/assets/scss/free/_depreciated.scss
front-end/src/assets/scss/free/_carousels.scss
front-end/src/assets/scss/free/_cards.scss
front-end/src/assets/scss/free/_buttons.scss
front-end/src/assets/scss/free/_badges.scss
front-end/src/assets/scss/free/_animations-basic.scss
front-end/src/assets/scss/core/bootstrap/_variables.scss
front-end/src/assets/scss/core/bootstrap/_rfs.scss
front-end/src/assets/scss/core/bootstrap/_functions.scss
front-end/src/assets/scss/core/_waves.scss
front-end/src/assets/scss/core/_variables.scss
front-end/src/assets/scss/core/_typography.scss
front-end/src/assets/scss/core/_mixins.scss
front-end/src/assets/scss/core/_masks.scss
front-end/src/assets/scss/core/_helpers.scss
front-end/src/assets/scss/core/_global.scss
front-end/src/assets/scss/core/_colors.scss
front-end/src/assets/scss/addons/_rating.scss
front-end/src/assets/scss/addons/_hierarchical-display.scss
front-end/src/assets/scss/addons/_flags.scss
front-end/src/assets/scss/addons/_flag.scss
front-end/src/assets/scss/addons/_directives.scss
front-end/src/assets/scss/addons/_datatables.scss
front-end/src/assets/scss/addons/_datatables-select.scss
front-end/src/assets/scss/_custom-variables.scss
front-end/src/assets/scss/_custom-styles.scss
front-end/src/assets/img/svg/flags.png
front-end/src/assets/img/svg/arrow_right.svg
front-end/src/assets/img/svg/arrow_left.svg
front-end/src/assets/img/sample.jpg
front-end/src/assets/img/overlays/09.png
front-end/src/assets/img/overlays/08.png
front-end/src/assets/img/overlays/07.png
front-end/src/assets/img/overlays/06.png
front-end/src/assets/img/overlays/05.png
front-end/src/assets/img/overlays/04.png
front-end/src/assets/img/overlays/03.png
front-end/src/assets/img/overlays/02.png
front-end/src/assets/img/overlays/01.png
front-end/src/assets/img/mdb-favicon.ico
front-end/src/assets/img/lightbox/preloader.gif
front-end/src/assets/img/lightbox/default-skin.svg
front-end/src/assets/img/lightbox/default-skin.png
front-end/src/assets/img/flags.png
